pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.chroma .hll { background-color: #ffffcc }
.chroma { background: #282C34; color: #ABB2BF }
.chroma .c { color: #7F848E } /* Comment */
.chroma .err { color: #ABB2BF } /* Error */
.chroma .esc { color: #ABB2BF } /* Escape */
.chroma .g { color: #ABB2BF } /* Generic */
.chroma .k { color: #C678DD } /* Keyword */
.chroma .l { color: #ABB2BF } /* Literal */
.chroma .n { color: #E06C75 } /* Name */
.chroma .o { color: #56B6C2 } /* Operator */
.chroma .x { color: #ABB2BF } /* Other */
.chroma .p { color: #ABB2BF } /* Punctuation */
.chroma .ch { color: #7F848E } /* Comment.Hashbang */
.chroma .cm { color: #7F848E } /* Comment.Multiline */
.chroma .cp { color: #7F848E } /* Comment.Preproc */
.chroma .cpf { color: #7F848E } /* Comment.PreprocFile */
.chroma .c1 { color: #7F848E } /* Comment.Single */
.chroma .cs { color: #7F848E } /* Comment.Special */
.chroma .gd { color: #ABB2BF } /* Generic.Deleted */
.chroma .ge { color: #ABB2BF } /* Generic.Emph */
.chroma .ges { color: #ABB2BF } /* Generic.EmphStrong */
.chroma .gr { color: #ABB2BF } /* Generic.Error */
.chroma .gh { color: #ABB2BF } /* Generic.Heading */
.chroma .gi { color: #ABB2BF } /* Generic.Inserted */
.chroma .go { color: #ABB2BF } /* Generic.Output */
.chroma .gp { color: #ABB2BF } /* Generic.Prompt */
.chroma .gs { color: #ABB2BF } /* Generic.Strong */
.chroma .gu { color: #ABB2BF } /* Generic.Subheading */
.chroma .gt { color: #ABB2BF } /* Generic.Traceback */
.chroma .kc { color: #E5C07B } /* Keyword.Constant */
.chroma .kd { color: #C678DD } /* Keyword.Declaration */
.chroma .kn { color: #C678DD } /* Keyword.Namespace */
.chroma .kp { color: #C678DD } /* Keyword.Pseudo */
.chroma .kr { color: #C678DD } /* Keyword.Reserved */
.chroma .kt { color: #E5C07B } /* Keyword.Type */
.chroma .ld { color: #ABB2BF } /* Literal.Date */
.chroma .m { color: #D19A66 } /* Literal.Number */
.chroma .s { color: #98C379 } /* Literal.String */
.chroma .na { color: #E06C75 } /* Name.Attribute */
.chroma .nb { color: #E5C07B } /* Name.Builtin */
.chroma .nc { color: #E5C07B } /* Name.Class */
.chroma .no { color: #E06C75 } /* Name.Constant */
.chroma .nd { color: #61AFEF } /* Name.Decorator */
.chroma .ni { color: #E06C75 } /* Name.Entity */
.chroma .ne { color: #E06C75 } /* Name.Exception */
.chroma .nf { color: #61AFEF; font-weight: bold } /* Name.Function */
.chroma .nl { color: #E06C75 } /* Name.Label */
.chroma .nn { color: #E06C75 } /* Name.Namespace */
.chroma .nx { color: #E06C75 } /* Name.Other */
.chroma .py { color: #E06C75 } /* Name.Property */
.chroma .nt { color: #E06C75 } /* Name.Tag */
.chroma .nv { color: #E06C75 } /* Name.Variable */
.chroma .ow { color: #56B6C2 } /* Operator.Word */
.chroma .pm { color: #ABB2BF } /* Punctuation.Marker */
.chroma .w { color: #ABB2BF } /* Text.Whitespace */
.chroma .mb { color: #D19A66 } /* Literal.Number.Bin */
.chroma .mf { color: #D19A66 } /* Literal.Number.Float */
.chroma .mh { color: #D19A66 } /* Literal.Number.Hex */
.chroma .mi { color: #D19A66 } /* Literal.Number.Integer */
.chroma .mo { color: #D19A66 } /* Literal.Number.Oct */
.chroma .sa { color: #98C379 } /* Literal.String.Affix */
.chroma .sb { color: #98C379 } /* Literal.String.Backtick */
.chroma .sc { color: #98C379 } /* Literal.String.Char */
.chroma .dl { color: #98C379 } /* Literal.String.Delimiter */
.chroma .sd { color: #98C379 } /* Literal.String.Doc */
.chroma .s2 { color: #98C379 } /* Literal.String.Double */
.chroma .se { color: #98C379 } /* Literal.String.Escape */
.chroma .sh { color: #98C379 } /* Literal.String.Heredoc */
.chroma .si { color: #98C379 } /* Literal.String.Interpol */
.chroma .sx { color: #98C379 } /* Literal.String.Other */
.chroma .sr { color: #98C379 } /* Literal.String.Regex */
.chroma .s1 { color: #98C379 } /* Literal.String.Single */
.chroma .ss { color: #98C379 } /* Literal.String.Symbol */
.chroma .bp { color: #E5C07B } /* Name.Builtin.Pseudo */
.chroma .fm { color: #56B6C2; font-weight: bold } /* Name.Function.Magic */
.chroma .vc { color: #E06C75 } /* Name.Variable.Class */
.chroma .vg { color: #E06C75 } /* Name.Variable.Global */
.chroma .vi { color: #E06C75 } /* Name.Variable.Instance */
.chroma .vm { color: #E06C75 } /* Name.Variable.Magic */
.chroma .il { color: #D19A66 } /* Literal.Number.Integer.Long */